.btn {
    padding: 4px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
}

.active {
    background-color: blueviolet;
    color: burlywood;
}

.primary {
    background-color: rgb(20, 139, 30);
    color: burlywood;
}